<section class="container content">
    <div class="row border rounded">
        <div class="col-12">
            <p class="h4">
                Suggested books
            </p>
        </div>
        <div *ngFor="let book of booksList?.items" class="col-12 col-sm-12 col-md-6 col-lg-2">
            <div class="card">
                <img class="card-img-top" [src]="book.volumeInfo.imageLinks?.thumbnail">
                <div class="card-body">
                    <p class="card-text">
                        {{book.volumeInfo.publishedDate}}
                    </p>
                    <a class="col-12 col-md-auto col-lg-auto btn btn-primary" [routerLink]="['../', book.id]">Ver Detalle</a>
                </div>
            </div>
        </div>
    </div>
</section>