<div>
    <form [formGroup]="collectionForm" (ngSubmit)="saveColl()">
        <div class="form-row">
            <div class="col-5">
                <input type="text" class="form-control" placeholder="Nombre" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">El nombre es requerido.</div>
                </div>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" placeholder="Descripción" formControlName="description" value="">
            </div>
            <div class="col-2">
                <button [disabled]="loading" class="btn btn-primary">Crear</button>
            </div>
        </div>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of collection" class="card-body">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>
                    <button type="button" class="btn btn-outline-success" [routerLink]="['../books/', item.key]">Entrar</button>
                    <button type="button" class="btn btn-outline-danger" (click)="DeleteCollection(item.key)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>